body {
  background-image: linear-gradient(#222, #000);
  background-attachment: fixed;
}

.underline:hover {
  color: white !important;
  text-decoration: underline !important;
}

.my-button:hover {
  color: white !important;
}

.fullscreen {
  display: flex;
  min-height: 100vh;
}

.content-slug {
  background-color: #212121 !important;
}

hr {
  color: white !important;
}

@media only screen and (max-width : 576px)
{
  .x-scroll > .row {
    overflow-x: auto !important;
  }
}