.Main {
  background-color: #282c34;
  background-image: url('./img/pattern.png');
  background-blend-mode: overlay;
  min-height: 100vh;
}

.Main-white {
  min-height: 100vh;
  background-image: url('./img/pattern.png');
}

.Main-logo {
  margin: 10rem;
  height: 15rem;
  box-shadow: 5px 5px #282c34;
}

.skill-icon {
  width: 70px;
  background-color: white;
  border-radius: 50%;
  margin: 5px;
  padding: 10px;
}

.skillset-wrapper-left {
  text-align: end;
}

.Main-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Main-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  font-size: calc(10px + 2vmin); 
}

.Transparent {
  background-color: transparent;
}

.NavButton {
  position: fixed;
  bottom: 20px;
  right: 30px;
}

.Label {
  margin-top:1rem;
  width: 90%;
}

.Value {
  text-align: end;
  background-color: white;
}

.TopNavBar {
  background-color: #282c34;
}

.info-box {
  padding: 1rem 3rem 3rem 3rem;
  box-shadow: 5px 5px #282c34;
  background-color: #efefef;
}